.button {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.button :hover {
  color: #53eebf;
}
.button-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 1rem;
}
