.todo-list-container {
  border: 1.5px solid #d0d4d3;
  width: 100%;
  justify-content: space-between;
  display: inline-flex;
  margin-top: 2rem;
  min-height: 5rem;
  align-items: center;
  padding: 0 1.6rem;
  box-sizing: border-box;
}
.todolist-list {
  flex: 6;
  font-size: 1.6rem;
}
.todolist-list.delete {
  text-decoration: line-through;
  color: red;
}
.todolist-action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-btn {
  cursor: pointer;
  margin-left: 1.2rem;
}
