@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
@media all and (min-width: 420px) and (max-width: 770px) {
  body,
  html {
    font-size: 56.25%;
    transition: all 0.2s ease-in-out;
  }
}

@media all and (max-width: 420px) {
  body,
  html {
    font-size: 50%;
    transition: all 0.2s ease-in-out;
  }
}
